doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    title= path
    link(rel='stylesheet', href='css/master.css')
  body
  div.main
  div.side-menu
      img(src='/img/uni.jpg' height='100' width='100')
      ul 
        li 
          a(href='/#restart') restart
        li 
          a(href='/college') nil
        li 
          a(href='/po') nil
    block content

  script(data-main="js/main", src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js")
