@import '_settings'

normalize-css()
base()

body
	padding: 80px 80px 80px 0px
	width: 980px
img 
	margin-top: -75px
ul 
	margin: 0px
	padding: 10px
	li
		list-style: none
		text-align: right
.side-menu
	height: 980px
	width: 100px
	float: left
div.main
	width: 100%
.post-header
	float: right
	width: 880px
p 
	margin: 10px 0px 10px 0px
.post-quote
	padding: 0px 20px 10px 20px
	font-style: italic
	text-align: center	
	font-size: 14px
h2 
	text-align: left
